/* 
    assets/css/style.css
*/

/**** BEGIN VARS ****/

:root
{
    /* @todo: can these be updated to change lm/dm? */
    --lm-navbar-bg: #FF7575;
    --lm-navbar-txt: #FFE5E5;
}

/***** END VARS *****/



/** BEGIN FLEXBOX **/

.flex-container
{
    display: flex;
}

.flex-navbar
{
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--lm-navbar-bg);
    padding: 10px;
    height: auto;
}

.flex-navbar > #navbar-logo
{
   height: 100px;
   width: auto; 
}
.flex-navbar > #app-title
{
    font-size: 40px;
    color: var(--lm-navbar-txt);
}
.flex-footer
{
    justify-content: space-between;
    align-items:flex-start;
}
.flex-direction-col
{
    flex-direction: column;
}

.flex-card
{
    flex-grow: 1;
}
.searchbar
{
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    min-width: 0px;
    /* flex-shrink: 0; */
    align-items: center;
    justify-content: space-around;
    background-color: var(--lm-navbar-bg);
    width: 100%;
    height: fit-content;
    padding: 4px;
    margin: 10px;
}

/*** END FLEXBOX ***/

/* searchbar els */

#dropdown-chevron
{

}

#search-form
{
    flex-grow: 0;
    height: auto;
    /* width: 80%; */
    /* margin: 10px; */
}

.ui-btn
{
    min-width: 40px;
    min-height: auto;
    height: 40px;
    width: 40px;
    padding: 4px;
    margin: 4px;
    border: 2px;
    border-color: var(--lm-navbar-txt);
}

@media only screen and (max-width: 568px)
{
    form > input
    {
        width:100%;
    }
}